/* ==========================
   RESET
========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-weight: 550;
}

/* ==========================
   HEADER
========================== */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 10vh;

    padding: 20px;

    background-color: #F8D7DA;

    position: relative;
    z-index: 10;

    box-shadow: 0 4px 16px rgba(246, 210, 210, 0.5);
}

.header-components {
    display: flex;
    gap: 1vh;

}

nav a {
    font-weight: 600;
    text-decoration: none;

    transition: .3s;
}

nav a:hover {
    color: rgb(25, 18, 18);
}

.btn-header {
    width: 90%;
    padding: 8px;

    font-weight: 600;

    background-color: #F8D7DA;

    border: none;
    border-radius: 5px;

    cursor: pointer;
    transition: 0.5s;
}

.btn-header:hover {
    background-color: #f7c9cc;
}


/* ==========================
   Mobile
========================== */
.hidden {
    display: none;
}

/* ==========================
   MAIN
========================== */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    height: 100vh;

    background-color: #ffefea;
}

/* ==========================
   Bem vindo card
========================== */

.card-hello {
    display: flex;
    flex-direction: column;

    width: 35%;
    max-width: 400px; 
    height: 40vh;

    text-align: left;

}


.card-hello h1 {

    padding-top: 15%;

    font-size: 40px;

    color: #d0858d;
}
.card-hello p {
    padding-top: 20px;

    font-weight: 500;
}

/* ==========================
   LOGIN
========================== */

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: 20%;
    max-width: 350px;
    min-width: 350px;
    height: 40vh;
    

    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(246, 210, 210, 0.5);

    background-color: azure;

    transition: 0.3s;
}


.text-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


/* ==========================
   FORMULÁRIO
========================== */
form {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    gap: 10px;
}

input {
    width: 100%;

    padding: 8px;

    border: 2px solid rgb(181, 181, 181);
    border-radius: 5px;
}

input:focus {
    border-color: #D8A7B1;
}
form div{
    display: flex;
    align-items: start;

    width: 100%;

}
form label {
    font-weight: 500;
} 

.btn-login {
    width: 100%;
    padding: 8px;

    font-weight: 600;

    background-color: #D8A7B1;

    border: none;
    border-radius: 5px;

    cursor: pointer;
    transition: 0.5s;
}

.btn-login:hover {
    width: 103%;
    background-color: #d0858d;
}

.form-link {
    display: flex;

    margin-top: 15px;
}

.form-link p {
    font-size: 15px;
}

.form-link a {
    text-decoration: none;
    color: #D8A7B1;
    font-size: 15px;
}

/* ==========================
   FOOTER
   ========================== */

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10vh;

    background-color: #F8D7DA;
}

@media (max-width: 768px) {

    /* ==========================
       HEADER
    ========================== */

    header {
        justify-content: space-between;
        padding: 15px 20px;
    }

    .header-components {
        display: none;
    }

    .hidden {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    /* ==========================
       MAIN
    ========================== */

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 100px;
    }

    /* ==========================
   LOGIN
    ========================== */
    .container-login {
        display: flex;

        width: 60%;
    }

    /* ==========================
   FORMULÁRIO
    ========================== */


    /* ==========================
   Bem vindo card
    ========================== */

    .card-hello {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 60%;
        height: 20%;

    }



    /* ==========================
   FOOTER
    ========================== */

    footer {
        text-align: center;
        padding: 20px;
    }

}