h1 {
    color: brown;
}
.fundo-roxo {
    background-color: rgb(108, 36, 175);
}
a{
    text-decoration: none;
    color: rgb(58, 3, 255);
}

button {
    background-color: rgb(72, 235, 72);
    border: none;
    border-radius: 14px;
    color: white;
    padding: 7px 10px;
    cursor: pointer	;
}
/*
aplica um estilo ao passar mouse por cima
*/
button:hover {
    background-color: rgb(9, 255, 0);
}